.container {
	margin: 0 auto;
	width: 60%;
}
.unvisib {
	display: none;
}
span {
  color: red;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: thin solid black;
}
.hdr {
  text-align: right;
}