<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spring test</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div class="container">
  <div class="hdr">
    <a href="/ip">/ip</a>&nbsp;
    <a href="/api/visits">/ip (json)</a>&nbsp;
    <a href="/db/1">/db</a>&nbsp;
    <a href="/db-view/1">/db-view</a>
  </div>

  <h1>db</h1>
  <hr />
  <span>{{cnt}}</span>&nbsp;&nbsp;&nbsp;
  {{#pages}}
  <a href="/db/{{.}}">{{.}}</a>&nbsp;
  {{/pages}}
  
  <br />&nbsp;
  
  <table>
    {{#list}}
    <tr>
      <td>{{icd10}}</td>
      <td>{{name}}</td>
    </tr>
    {{/list}}
  </table>
</div>  
</body>
</html>