<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spring test</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="container">
  <h1>
    <a href="ip">/ip</a>&nbsp;
    <a href="api/visits">/ip (json)</a>&nbsp;
    <a href="db/1">/db</a>&nbsp;
    <a href="db-view/1">/db-view</a>&nbsp;
  </h1>
</div>  
</body>
</html>