<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spring test</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="container">
  <div class="hdr">
    <a href="/ip">/ip</a>&nbsp;
    <a href="/api/visits">/ip (json)</a>&nbsp;
    <a href="/db/1">/db</a>&nbsp;
    <a href="/db-view/1">/db-view</a>
  </div>

  <h1>Welcome to Spring, [{{ip}}] !</h1>
  <hr />

  <h2>{{time}}</h2>
  <hr />

  <h3 {{^last}} class="unvisib" {{/last}}>
    последние посещения (20) <a href="api/visits">(json, все)</a> : 
  </h3>
  
  <ul>
    {{#last}} <li><b>{{id}}</b> - {{ip}} - {{time}}</li> {{/last}}
  </ul>
</div>  
</body>
</html>